.hidden {
  display: none !important;
}

html {
  min-width: 700px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full,
.col-half {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.content-headline {
  display: flex;
  justify-content: center;
}

.black-container {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  padding: 2rem 5rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-wrapper {
  padding: 2rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.character-name {
  width: 100%;
  margin: 0;
}

.navs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
}

.portrait-bg {
  display: flex;
  justify-content: center;
}

.portrait-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.white-container {
  padding: 1rem;
}

.additional-info {
  display: flex;
}

.additional-infos {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 900px) {
  .container {
    max-width: 1920px;
  }

  .col-full,
  .col-half {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .logo {
    justify-content: flex-start;
  }

  .icons {
    justify-content: flex-start;
  }

  .black-container {
    max-width: 1304px;
  }
}
