.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-full,
.col-half {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
}

.content-headline {
  display: flex;
  justify-content: center;
}

.black-container {
  display: flex;
  justify-content: center;
  margin: 5rem auto;
  max-width: 1400px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1920px;
  }

  .col-full,
  .col-half {
    padding: 0 0.75rem;
  }

  .col-half {
    width: 50%;
  }

  .logo {
    justify-content: flex-start;
  }

  .black-container {
    /* margin: 10rem; */
  }
}
