body {
  background: no-repeat linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.6rem;
  font-family: 'Cabin', sans-serif;
  color: white;
  line-height: 1.6;
  font-weight: 100;
  overflow: overlay;
}

header {
  width: 100%;
}

.dark-nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  text-decoration: none;
  border: none;
  color: #cbcbcb;
  transition: color 0.3s;
}

img {
  max-width: 100%;
}

.heading {
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.7;
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.4);
}

.active {
  border-bottom: 2px solid white;
  color: white;
}

.black-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
}

.big-title {
  font-size: 4rem;
  margin: 0;
}

.intro {
  font-size: 2rem;
}

.icon {
  border-radius: 2rem;
  border: 2px solid black;
  overflow: hidden;
  width: 10rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transition-property: border, box-shadow, transform;
  transition-duration: 0.15s;
}

.entry-name {
  background-color: black;
  text-align: center;
}

.icon * {
  pointer-events: none;
}

.portrait-bg {
  border-radius: 100rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-star {
  color: rgba(255, 204, 49, 1);
}

.white-container {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(198, 198, 198, 0.4);
  border-radius: 3rem;
}

.region-bg {
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.skill-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-times {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
}

.fa-times:hover {
  color: white;
  cursor: pointer;
}

#skill-gif-max {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  user-select: none;
}

.skill-gif {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: transform, border;
  transition-duration: 0.15s;
}

.skill-gif:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.skill-gif:active {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.skill {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.rarity {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#explore {
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 8rem;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.25s;
}

#mondstadt-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Mondstadt.jpg');
  background-size: cover;
}

#liyue-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Liyue.jpg');
  background-size: cover;
}

#inazuma-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Inazuma.jpg');
  background-size: cover;
}

#dragonspine-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Dragonspine.jpg');
  background-size: cover;
}

.material {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}

.nav:hover {
  color: rgba(255, 255, 255, 0.85);
}

.nav:active {
  color: rgba(255, 255, 255, 1);
}

#explore:hover {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.8);
}

#explore:active {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.icon:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.icon:active {
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
  transform: scale(1.02);
  user-select: none;
}

body::-webkit-scrollbar {
  width: 1.4rem;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  margin: 0.5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  background-clip: content-box;
  border: 7px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div::after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1)::after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2)::after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3)::after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4)::after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5)::after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6)::after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7)::after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8)::after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
