body {
  background: no-repeat linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.1rem;
  font-family: 'Cabin', sans-serif;
  color: white;
  line-height: 1.6;
  font-weight: 100;
  overflow: overlay;
}

header {
  width: 100%;
}

.dark-nav {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  text-decoration: none;
  border: none;
  color: #cbcbcb;
  transition: color 0.3s;
}

img {
  max-width: 100%;
}

.heading {
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.7;
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.4);
}

.active {
  border-bottom: 2px solid white;
  color: white;
}

.black-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
}

.big-title {
  font-size: 4rem;
  margin: 0;
}

.intro {
  font-size: 2rem;
}

.icon {
  border-radius: 2rem;
  border: 2px solid black;
  overflow: hidden;
  width: 10rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transition-property: border, box-shadow;
  transition-duration: 0.15s;
}

.entry-name {
  background-color: black;
  text-align: center;
}

.icon * {
  pointer-events: none;
}

.portrait-bg {
  border-radius: 100rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-star {
  color: rgba(255, 204, 49, 1);
}

.white-container {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(198, 198, 198, 0.4);
  border-radius: 3rem;
}

.region-bg {
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.skill-gif {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.skill {
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.rarity {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#explore {
  background-color: white;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.5rem;
  padding: 1rem 8rem;
  font-family: sans-serif;
  color: black;
  text-decoration: none;
  transition: box-shadow 0.25s;
}

#mondstadt-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Mondstadt.jpg');
  background-size: cover;
}

#liyue-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Liyue.jpg');
  background-size: cover;
}

#inazuma-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Inazuma.jpg');
  background-size: cover;
}

#dragonspine-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Dragonspine.jpg');
  background-size: cover;
}

.material {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2rem;
}

.nav:hover {
  color: rgba(255, 255, 255, 0.85);
}

.nav:active {
  color: rgba(255, 255, 255, 1);
}

#explore:hover {
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.8);
}

#explore:active {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.8);
}

.icon:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

.icon:active {
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar {
  width: 1.4rem;
}

body::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  margin: 0.5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  background-clip: content-box;
  border: 7px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}
