body {
  background: no-repeat linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 1rem;
  font-family: 'Cabin', sans-serif;
  color: white;
  line-height: 1.6;
  font-weight: 100;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

a {
  text-decoration: none;
  border: none;
  color: #cbcbcb;
}

img {
  max-width: 100%;
}

.heading {
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 0.7;
}

.dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.shadow {
  text-shadow: 2px 2px 6px black;
}

.active {
  border-bottom: 1px solid white;
  color: white;
}

.black-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3rem;
}

.icon {
  border-radius: 2rem;
  border: 1px solid black;
  overflow: hidden;
  width: 10rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.entry-name {
  background-color: black;
  text-align: center;
}

.icon * {
  pointer-events: none;
}

.portrait-bg {
  border-radius: 100rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-star {
  color: rgba(220, 138, 30, 1);
}

.white-container {
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: rgba(198, 198, 198, 0.4);
  border-radius: 3rem;
}

.region-bg {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.skill-gif {
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#mondstadt-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Mondstadt.jpg');
  background-size: cover;
}

#liyue-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Liyue.jpg');
  background-size: cover;
}

#inazuma-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Inazuma.jpg');
  background-size: cover;
}

#dragonspine-spawn {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/locations/Dragonspine.jpg');
  background-size: cover;
}
